<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formularz</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div class="sidebar">
    <div class="top-section">
        <h1><a href="/">LLPL</a></h1>
        <p>strona główna <br> K. Subartowicz</p><br>
    </div>
    <div class="bottom-section">
        <h2></h2>
        <a href="../base/blog.html">_blog</a>
        <a href="../base/about_me.html">_about_me</a>
        <a href="../base/links.html">_links</a>
        <a href="../base/study.html">_study</a>
        <a href="../base/missile">_rockets</a>
    </div>
</div>
<div class="content">
    <h2>Formularz danych</h2>
    <form action="{{ url_for('person') }}" method="post">
        <label for="first_name">Imię:</label>
        <input type="text" id="first_name" name="first_name" required><br>

        <label for="last_name">Nazwisko:</label>
        <input type="text" id="last_name" name="last_name" required><br>

        <label for="pesel">PESEL:</label>
        <input type="text" id="pesel" name="pesel" required><br>

        <label for="street">Ulica:</label>
        <input type="text" id="street" name="street"><br>

        <label for="city">Miasto:</label>
        <input type="text" id="city" name="city"><br>

        <label for="number">Numer domu:</label>
        <input type="text" id="number" name="number"><br>

        <label for="postal_code">Kod pocztowy:</label>
        <input type="text" id="postal_code" name="postal_code"><br>

        <label for="phone">Telefon:</label>
        <input type="text" id="phone" name="phone"><br>

        <label for="vip">VIP:</label>
        <input type="checkbox" id="vip" name="vip"><br>

        <label for="address">Adres domu:</label>
        <input type="text" id="address" name="address" required><br>

        <input type="submit" value="Prześlij">
    </form>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

    <br>
    <br>
    <br>
    <footer class="footer">
        <p>Licensed under GNU. Copyright © 2024 Krzysztof Subartowicz (Cisco).</p>
    </footer>
</div>
</body>
</html>